{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'core:index' %}">
            {% csrf_token %}
            <div class="form-group">
                <h1><a href="{% url 'core:index' %}">Search</a></h1>
                <h4>[{{ city }} {% if country %} - {{ country }} {% endif %}]</h4>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="key" placeholder="Type your search" required>
                <small id="keyHelp" class="form-text text-muted">Ex.: Japan food or Brazilian food, etc</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="location_in" placeholder="Type a city">
                <small id="keyLocation" class="form-text text-muted">Ex.: Tokio, São Paulo, etc</small>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        {% if 'error' in data %}
        <h1>Anything found in {{ city }}</h1>
        {% elif search and data.businesses|length < 1 %}
        <h1>Nothing found</h1>
        {% elif city and data %}
        <h1>Search Result</h1>
            {% for business in data.businesses %}
                <span class="text-info">{{ business.name }}, {{ city }}</span><br>
            {% endfor %}
        {% endif %}
    </div>
    {% if city and data|length > 1 %}
        {% include 'core/maps.html' %}
    {% endif %}
</div>
{% endblock content %}